#one {
    position: absolute;
    height: 50px;
    width: calc(100% - 20px);
    background-color: pink;
    margin: 0px;
    padding: 0px;

}

#two {
    width: 20px;
    height: 50px;
    position: absolute;
    background-color: red;
    margin: 0px;
    padding: 0px;

}