body {
    background-color: black;
}

h1 {

    color: white;

}

.navbar {

    background-color: rgb(246, 219, 12);
    width: 20%;



}

.text {
    text-align: center;
    font-size: 30px;
    color: rgb(9, 137, 234);


}