H1 {
    color: yellow;
    background-color: black;
    size: 100px
}

H2 {
    color: Orange;
    background-color: gray;
    size: 50px
}

H3 {
    color: white;
    background-color: blue;
    size: 30px;
}