#container {



    width: 40%;
    display: inline-block;
    background-color: pink;
    border: 3px solid red;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#third {
    float: left;
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% / 3);
    border: 3px solid black;
    height: 30px;
    background-color: pink;
    margin: 0px;
    padding: 0px;

}