body {

    font-family: arial;

}

table {

    border: 2px solid rgb(208, 208, 208);
    border-collapse: collapse;


}

tr {
    border: 2px solid rgb(208, 208, 208);
    border-collapse: collapse;
    background-color: rgb(186, 251, 186);

}

.name {

    font-weight: bold;
    padding-right: 40px;
    text-align: left;
}

#title {
    background-color: rgb(242, 233, 233);
    border-bottom: 2px solid rgb(208, 208, 208);
    font-weight: bold;
}

p {

    text-align: center;
}

td {

    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.pts {

    font-weight: bold;
}