.parent {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: blue;
}

#child1 {
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: red;
    left: 40px;
}

#child2 {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: red;
    top: 40px;
}